{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section>
        <div>
            <h2>DECOUVREZ<br>NOS BOXS</h2>
            <p class="sous-titre">"Trois boxs à découvrir, avec des alcools exceptionnels à partager"</p>
        </div>

        <div class="carousel dragscroll">
            {% for box in boxes %}
                <div class="boxdecouverte">
                    <p class="titredecouverte">{{ box.title }}</p>
                    <img class="imagebox" src={{ asset('images/' ~ box.image) }}  />
                    <a class="decouvrir" href="{{ path('box_show', {'id': box.id}) }}">
                        <p>Découvrir</p>
                        <img src="https://image.flaticon.com/icons/svg/271/271226.svg" height="20px">
                    </a>
                </div>
            {% endfor %}

        </div>

    </section>

    <div>
        <h2>NOS DENIERES<br>BOXS</h2>
        <section id="sectionlastbox">
            {% for box in lastBoxes %}
                <article class="lastbox">
                    <img class="imagebox" src={{ asset('images/' ~ box.image) }}  />
                    <p>{{ box.title }}</p>
                </article>
            {% endfor %}
        </section>
    </div>

{% endblock %}
