{% extends 'base.html.twig' %}

{% block title %}Box{% endblock %}

{% block body %}
    <h1>Box</h1>

    <div class="titrepage">
        <a class="retour" href="{{ path('homepage') }}"><img src="https://image.flaticon.com/icons/svg/271/271226.svg" height="20px"></a>
        <h3>  {{ box.title }}</h3>
    </div>

    <div class="thumbnail">
        <img style="width: 100%;" src={{ asset('images/' ~ box.image) }}  />
        <p class="thumbnailtitle">Titre de l'article</p>
    </div>

    <div class="description">
        <h3>Description</h3>
        <p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    </div>

    {% if alcohols|length > 0 %}
        <ul>
            {% for alcohol in alcohols %}
                <input type="checkbox" name="alcool" />
                <label for="alcool"> {{ alcohol.name }} </label>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('box_index') }}">S'abonner </a>
    <a href="{{ path('box_index') }}">Acheter</a>

{% endblock %}
